<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="nlp2code.category"
            id="nlp2code.handler"
            name="Input Handler">
      </command>
      <category
            id="nlp2code.category"
            name="Handler Category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="nlp2code.InputHandler"
            commandId="nlp2code.handler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="nlp2code.handler"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="nlp2code.toolbar">
            <command
                  commandId="nlp2code.handler"
                  icon="icons/stackoverflow.gif"
                  id="nlp2code.toolbar.handler"
                  style="push"
                  tooltip="Query Stack Overflow">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="nlp2code.toolbar">
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
